# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtualenvs
env/
venv/
.env

# Flask stuff:
instance/
.webassets-cache

# Other useless files
.DS_Store
Thumbs.db
.idea
.cache
*.swp
data/last-location-*.json
web/catchable-*.json
web/inventory-*.json
web/location-*.json

# Config files
config.json
release_config.json
config/*.yml
config/plugins/*.yml

# Test files
.coverage
api-*.txt

# Sublime files
*.sublime-project
*.sublime-workspace

# Shared libraries
encrypt.dll
*.so
*.o
encrypt.c
