[MESSAGES CONTROL]
disable=line-too-long,
    missing-docstring,
    relative-import,
    too-many-instance-attributes,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-few-public-methods,
    too-many-return-statements,
    invalid-name,
    unused-import,
    fixme
