#####################################################################
#   ____                   _____       _____       ____        _    #
#  / __ \                 |  __ \     / ____|     |  _ \      | |   #
# | |  | |_ __   ___ _ __ | |__) |__ | |  __  ___ | |_) | ___ | |_  #
# | |  | | '_ \ / _ \ '_ \|  ___/ _ \| | |_ |/ _ \|  _ < / _ \| __| #
# | |__| | |_) |  __/ | | | |  | (_) | |__| | (_) | |_) | (_) | |_  #
#  \____/| .__/ \___|_| |_|_|   \___/ \_____|\___/|____/ \___/ \__| #
#        | |                                                        #
#        |_|                                                        #
#                                                                   #
#      This is an example configuration file for OpenPoGoBot.       #
#      Please read and change all options to suit your setup.       #
#                                                                   #
#####################################################################

# Configure lure pokemon at pokestop
# wait_at_pokestop wait for lure to expire before moving on (not implemented yet)
lure:
    wait_at_pokestop: false

# Configure pokeball throw
throw:
    # probability of user to spin the ball (ignored if perfect)
    spin: 0.7

    # type of catcher (average, good, perfect)
    # good, better, perfect
    skill: better
